
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        h1, h2, h3 {
            color: #333;
            text-align: center;
        }

        form {
            text-align: center;
            margin: 20px;
        }

        label {
            margin: 0 10px;
            font-weight: bold;
        }

        input[type="date"],
        input[type="submit"] {
            padding: 5px;
            margin: 0 10px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr.header {
            background-color: #f2f2f2;
        }

        tr.total {
            font-weight: bold;
            background-color: #f9f9f9;
        }

        tr.total td {
            color: #333;
        }

        table.media {
            margin-top: 10px;
        }

        table.media th {
            background-color: #2196F3;
        }

        table.media td {
            background-color: #E3F2FD;
        }
        hr {
            width: 80%;
        }
        .th_crono{
            background: #c84d4d;
        }
        #tb_cig {
            background: #c6efce;
        }
        #tb_mb {
            background: #ececec;
        }
        #tb_per {
            background: #fbe4d5;
        }
        #tb_pul {
            background: #c6e9ef;
        }
        #tb_ac {
            background: #ffc7ce;
        }
        #tb_tri {
            background: #ffeb9c;
        }
        #obs {
            width: 100%;
        }
        
        